<div class="wrapper">
    <div class="content">
        <footer class="footer">
            <div class="row">
                <div class="col-sm-6">
                    <p class="doc"><span class="icon-mail"></span>&nbsp;nhatlich808@gmail.com</p>
                    <p class="doc"><span class="icon-share"></span>&nbsp;You'd love the blog. Share it!</p>
                    <p class="doc"><span class="icon-info"></span>&nbsp;Psydog's blog is Magento2, Js... blog</p>
                </div>
                <div class="col-sm-6">
                    <p><a href="#"> @2020 Psydog's blog </a></p>
                    <p class="doc"><span class="icon-edit"></span>&nbsp;The blog have no license, </p>
                    <p class="doc">&nbsp;Any copies are enjoy but please add the source. </p>
                    <p class="doc">&nbsp;http://psydog-1101.github.io/ </p>
                </div>
            </div>
        </footer>
    </div>
</div>